.text {
    width : 80%;
    height: 100%;
    float : right;

    &--skeleton {
        animation: skeleton-loading 1s linear infinite alternate;
    }
}


@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 85%);
    }

    100% {
        background-color: hsl(200, 20%, 99%);
    }
}