@use "../variables"as *;

.product {
    &--edit {
        width  : 100%;
        padding: 30px 16px;

        .product {
            &__product-info {
                margin-top      : 20px;
                border-radius   : 9px;
                padding         : 24px 16px;
                box-shadow      : 0px 8px 32px 0px #3326AE14;
                background-color: #fff;
                max-width       : 450px;

                hr {
                    margin-block : 20px;
                    width        : 70%;
                    height       : 1px;
                    border       : none;
                    border-top   : 1px solid #777;
                    margin-inline: auto;
                }
            }

            input {
                height : 0px;
                outline: none;
            }



            &-row {
                @include input-element-with-label;

                &--image {
                    @include input-photo;
                }

                &__button {
                    @include main-button;
                    display  : block;
                    margin   : 30px auto 0;
                    padding  : 10px 20px;
                    font-size: 16px;
                }
            }
        }
    }
}