$main-color: #ff8901;
$main-font : "Roboto",
sans-serif;
$error-color: #f73131;
$max-width  : 400px;



@mixin main-button {
    padding         : 10px;
    border-radius   : 20px;
    background-color: $main-color;
    border          : none;
    color           : white;
    cursor          : pointer;
}